header {
    padding: 10px;
    text-align: center;
    height: 70px;
    background-color: antiquewhite;
}

.mainphoto {
    margin-left: 0;
    margin-top: -20px;
    background-image: url(images/picture900a.jpg);
    background-repeat: no-repeat;
    width: 900px;
    height: 250px;
}

body {
    margin: auto;
    background-color: #669966;
    width: 900px;
    margin-top: -20px;
}
nav {
    float: center;
    width: 900px;
    margin-top: 0px;
    color: black;
    font-family: sans-serif;
    position: relative;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 150px;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

/* Change the link color to black on hover */
li a:hover {
    background-color: #6B4C20;
}

main {
    font-family: sans-serif;
    font-size: 10pt;
    background-color: antiquewhite;
    margin: 0px;
    width: 880px;
    display: block;
    padding: 10px;
}
 
p {
    width: 55%;
    padding-left: 55px;
    margin-top: 0px;
}

h3 {
    padding-left: 35px;
    margin-bottom: 3px;
    margin-top: 10px;
    clear: both;
}

footer {
    color: white;
    background-color: black;
    height: auto;
    padding: 10px 10px 10px 15px;
    text-align: center;
}


@media (min-width:40em) {
    img {display: none}; 
}




/* History Page */
.featured {
    margin-left: 50px;
    background-image: url(images/featured.jpg);
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}

/* Event Page */

.pdf {
    width: 200px;
    position: relative;
    float:right;
    margin-right: 80px;
}

/* Contact Page */

.right {
   margin-left: 300px;
}