body {
    font-family: sans-serif;
      
}
form {
    background-color: lightblue;
    font-size: 13pt;
    border-radius: 15px;
    padding: 10px;
}
h1 {
    text-align: center;
}
label {
    width: 300px;
    float:left;
    clear:left;
    text-align: right;
}
#messy {
    
}
select, input {
    float:left;
    width: 45%;
    margin: 5px;
}
#box {
    width: 15px;
}
#submit {
    width: auto;
}